.task {
  margin-bottom: 10px;
}

.taskInput {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  border: none;
  outline: none;
  padding: 7px;
  min-height: 30px;
  border-radius: 3px;
  margin-bottom: 5px;
  box-shadow: 0 3px 2px -2px gray;
  transition: 0.3s all ease;
}

