.board {
  padding: 10px;
}

.boardTitle {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  display: block;
  font-size: 32px;
  font-weight: bold;
  border: none;
  color: black;
  margin-top: 0;
  margin-bottom: 20px;
  //width: 300px;
}

.cards {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}