.card {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  display: flex;
  width: 250px;
  flex-direction: column;
  background-color: #ebecf0;
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  cursor: grab;
  animation: shows 0.5s;
}

@keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cardHeader {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
}

.cardTitle {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  padding: 5px;
  font-weight: 600;
  margin-bottom: 10px;
  border: none;
  background: none;
}

.addCardBtn {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  border: none;
  display: flex;
  align-items: center;
  min-height: 30px;

  &:hover {
    background-color: gray;
    color: white;
    border-radius: 3px;
    transition: 0.3s all ease;
  }
}

.tasks {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.close {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  padding: 5px;
  position: relative;
  transition: 0.3s all ease;
}
.close:hover {
  transition: 0.3s all ease;
  opacity: 1;
}
.close:before, .close:after {
  margin-left: 10px;
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #000000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}