body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.addCardBtnContainer {
  width: 30px;
  height: 30px;
}

.addCardBtn {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  transition: 0.3s all ease;
}
.addCardBtn:hover {
  transition: 0.3s all ease;
  background-color: gray;
}

.addCardBtn:before, .addCardBtn:after {
  margin-left: 7px;
  position: absolute;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: rgb(159, 159, 159);
}
.addCardBtn:before {
  transform: rotate(90deg);
}

.addCardBtnContainer:hover .addCardBtn:before {
  transition: 0.3s all ease;
  background-color: white;
}

.addCardBtnContainer:hover .addCardBtn:after {
  background-color: white;
  transition: 0.3s all ease;
}
